<h2>{{ exception_class }} : {{ exception.message }}</h2>

<h3>Information:</h3>
<strong>Generated at: </strong> {{ "now"|date("d-m-Y H:i:s") }} <br />
<strong>Class name: </strong> {{ exception_class }} <br />
<strong>Message: </strong> {{ exception.message }} <br />
<strong>Uri: </strong> {{ request.uri }} <br />

<h3>Stack trace:</h3>
{% for trace in exception.trace %}
    #{{ loop.index0 }} - 
        {% if trace.class is defined %}
            {{ trace.class }}{{ trace.type }}{{ trace.function }}()
        {% else %}
            {{ trace.function }}()
        {% endif %} 
        {% if trace.file is defined %}
            in {{ trace.file }} line {{ trace.line }}
        {% endif %}
    <br />
{% endfor %}

<h4>Request GET Parameters</h4>

{% if request.query.all|length %}
    {% include 'ElaoErrorNotifierBundle::_bag.html.twig' with { 'bag': request.query } only %}
{% else %}
    <p>
        <em>No GET parameters</em>
    </p>
{% endif %}

<h4>Request POST Parameters</h4>

{% if request.request.all|length %}
    {% include 'ElaoErrorNotifierBundle::_bag.html.twig' with { 'bag': request.request } only %}
{% else %}
    <p>
        <em>No POST parameters</em>
    </p>
{% endif %}

<h4>Request Attributes</h4>

{% if request.attributes.all|length %}
    {% include 'ElaoErrorNotifierBundle::_bag.html.twig' with { 'bag': request.attributes } only %}
{% else %}
    <p>
        <em>No attributes</em>
    </p>
{% endif %}

<h4>Request Cookies</h4>

{% if request.cookies.all|length %}
    {% include 'ElaoErrorNotifierBundle::_bag.html.twig' with { 'bag': request.cookies } only %}
{% else %}
    <p>
        <em>No cookies</em>
    </p>
{% endif %}

<h4>Request Headers</h4>

{% include 'ElaoErrorNotifierBundle::_bag.html.twig' with { 'bag': request.headers } only %}

<h4>Request Server Parameters</h4>

{% include 'ElaoErrorNotifierBundle::_bag.html.twig' with { 'bag': request.server } only %}

<h4>Session Attributes</h4>

{% if request.session.all|length %}
    <table>
        <tr>
            <th>Key</th>
            <th>Value</th>
        </tr>
        {% set attributes = request.session.all %}
        {% for key in attributes|keys|sort %}
            <tr>
                <th>{{ key }}</th>
                <td>{{ attributes[key]|yaml_dump }}</td>
            </tr>
        {% endfor %}
    </table>
{% else %}
    <p>
        <em>No session attributes</em>
    </p>
{% endif %}
